[shell.files]
# Local variables: git-name, git-email
todorc = "~/.todorc"
git = "~/.gitconfig"
profile = "~/.profile"
"scripts/env" = "~/.scripts/env"
"scripts/shell" = "~/.scripts/shell"

[shell.variables]
# Local variables: install, uninstall, update, autoremove
install = "echo not defined"
uninstall = "echo not defined"
update = "echo not defined"

[zsh.files]
# requires "shell", conflicts with "bash"
zshrc = "~/.zshrc"
antigen = "~/.antigen/antigen.zsh"

[tmux.files]
# requires "shell"
tmux = { target = "~/.config/tmux", type = "template" }

[neovim.files]
# requires "shell"
nvim = "~/.config/nvim"

[cargo.files]
cargo = "~/.cargo/config"

[gpg.files]
# requires "shell"
gnupg = { target = "~/.gnupg", type = "symbolic" }
gpg-agent = "~/.gnupg/gpg-agent.conf"
"scripts/gpg" = "~/.scripts/gpg"

[gpg.variables]
pinentry-program = "/usr/bin/pinentry-curses"

[graphics.files]
# Optional local variables: xsecurelock-saver
"scripts/graphics" = "~/.scripts/graphics"

[graphics.variables]
xsecurelock-command = "~/.scripts/graphics/xsecurelock"

[graphics.variables.font]
monospace = "Fira Code"
size = 9

[i3.files]
# requires "graphics"
# Local variables: terminal
i3 = "~/.config/i3/config"

[alacritty.files]
# conflicts with "kitty"
alacritty = "~/.config/alacritty/alacritty.yml"

[alacritty.variables]
terminal = "alacritty"

[kitty.files]
# conflicts with "alacritty"
kitty = "~/.config/kitty"

[kitty.variables]
terminal = "kitty"

[yubikey.files]
u2f_keys = "~/.config/Yubico/u2f_keys"

[udev.files]
"root/udev" = { target = "~/.deploy/udev", type = "template" }

[systemd.files]
"root/systemd" = { target = "~/.deploy/systemd", type = "template" }

[hid-server.files]
# depends on cargo
"root/sudoers/hid-server" = "~/.deploy/sudoers/hid-server"
hid_server = "~/.config/hid_server/hid_server.toml"

[apple.files]
"root/modprobe.d/hid_apple.conf" = "~/.deploy/modprobe.d/hid_apple.conf"
